#content {
    margin-left: 10px;
}
#content1 {
    float: left;
    width: 60%;
}
#content2 {
    float: left;
    width: 35%;
    margin-left: 30px;
}
#content3 {
    float: left;
    width: 350px;
    margin-left: 20px;
    display: none;
}
form {
    margin-bottom: 0;
}
textarea, table {
    margin-bottom: 4px;
}
textarea {
    display: block;
    width: 100%;
}
label, h2 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: inherit
}
h2 {
    margin-top: 15px;
}
#parsed-out-object,
#parsed-out-tokens,
#inspector-out-object {
    border: 1px solid gray;
    overflow: auto;
}
table {
    border: 1px solid black;

}
.heading {
    background-color: silver;
}
tbody .heading {
    background-color: #f0f0f0;
    font-size:  11px;
    color: #999;
}

td {
    border: 1px solid #f0f0f0;
    white-space: nowrap;
}

td.key {
    padding-left: 25px;
    color: goldenrod;
}
td.value input {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
}
td.value textarea:focus, td.value input:focus{
    outline: none;
}
thead {
    background-color: silver;
}





