#content {
    margin-left: 10px;
}
#content1 {
    float: left;
    width: 530px;
}
#content2 {
    float: left;
    width: 650px;
}
#content3 {
    float: left;
    width: 350px;
    margin-left: 20px;
}
#content2 form,
#content3 form {
 //   height: 380px;
}
form {
    margin-bottom: 0;
}
textarea, table {
    margin-bottom: 4px;
}
textarea {
    display: block;
    width: 500px;
}
label, h2 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: inherit
}
h2 {
    margin-top: 15px;
}
#parsed-out-object,
#parsed-out-tokens,
#inspector-out-object {
    border: 1px solid gray;
    overflow: auto;
}
table {
    border: 1px solid black;

}
.heading {
    background-color: silver;
}
tbody .heading {
    background-color: #f0f0f0;
    font-size:  11px;
    color: #999;
}

td {
    border: 1px solid #f0f0f0;
}

td.key {
    padding-left: 25px;
    color: goldenrod;
    white-space: noWrap;

}
td.attributes {
}
thead {
    background-color: silver;
}
td.section {




